body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url('assets-cached.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 192, 203, 0.5), 0 0 20px rgba(255, 192, 203, 0.5); /* Pink glow effect */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.game-board:hover {
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8); /* Use a colorful shadow on hover */
}

.cell {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

/* Animation for X and O */
.cell::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.cell.X::before {
    width: 80%;
    height: 80%;
    background-color: #3498db;
}

.cell.O::before {
    width: 80%;
    height: 80%;
    background-color: #e74c3c;
}

/* Shadows */
.cell.X {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.cell.O {
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.5);
}


.score-board {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to right, #3498db, #e74c3c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.score-board h2 {
    margin-bottom: 10px;
}

#reset-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#reset-button:hover {
    background-color: #27ae60;
}
